.DS_Store
tags
.idea
.generators
.rakeTasks
tags
npm-debug.log
public/uploads
webpack/build
.vscode/
.irb_history
.ruby-version
.node-version
.vim/backup/*
.vim/bundle/*
.vim/autoload/*
*.swp
.netrwhist
.config/yarn/*
.config/configstore/*
.config/fish/fish_variables
.config/gh/
.config/stripe/
.config/jgit
.config/github-copilot/
.config/zed/
.zed
.config/op/
.config/fish/conf.d/z.fish
.config/fish/conf.d/hydro.fish
.config/fish/functions/__z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_clean.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fish_user_key_bindings.fish
.config/fish/functions/fisher.fish
.config/fish/functions/fzf_key_bindings.fish
.config/fish/functions/nodenv.fish
.streerc
