[core]
  excludesFile = ~/.gitignore
  editor = nvim
  quotepath = false
  pager = /opt/homebrew/var/homebrew/linked/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[alias]
  aa = add .
  st = status
  ci = commit -v
  co = checkout
  br = branch
  ds = diff --staged
  d  = diff
  ri = rebase -i
  rc = rebase --continue
  rs = rebase --skip
  ra = rebase --abort
  ap = add -p
  sp = stash --patch
  vomit = commit
[user]
  name = Szymon Fiedler
  email = szymon.fiedler@gmail.com
  signingkey = 9BB0E676
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = always
[merge]
  tool = nvim -d
[github]
  user = fidel
[help]
  autocorrect = 1
[push]
  default = current
[pull]
  rebase = true
[diff]
  word-diff = color
  indentHeuristic = true
  noprefix = true
[commit]
  gpgsign = true
  verbose = true
[trailer "coop"]
  key = "Co-authored-by: "
  ifmissing = add
[init]
  defaultBranch = master
