[core]
  excludesFile = ~/.gitignore
  editor = nvim
  quotepath = false
  pager = /opt/homebrew/var/homebrew/linked/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	attributesfile = /Users/fidel/.gitattributes
[alias]
  aa = add .
  st = status
  ci = commit -v
  co = checkout
  cp = cherry-pick
  br = branch
  ds = diff --staged -w --patience --word-diff=color
  d  = diff -w --patience --word-diff=color
  ra = rebase --abort
  ri = rebase --interactive
  rc = rebase --continue
  ap = add -p
  sp = stash --patch
  rs = reset --soft HEAD~1
  lg = log -p
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Cblue%ci\\ %Creset%s%Cblue\\ [%cn]" --decorate
  coauthors = "!f() { git log --all --format='%aN <%aE>' | sort -u; }; f"
  ca = "!f() { echo \"\\n\\nCo-authored-by: $1\" >> \"$(git rev-parse --git-dir)/COMMIT_EDITMSG\" || echo \"Co-authored-by: $1\"; }; f"
[user]
  name = Szymon Fiedler
  email = szymon.fiedler@gmail.com
  signingkey = 9BB0E676
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = always
[merge]
  tool = nvim -d
[github]
  user = fidel
[help]
  autocorrect = 1
[push]
  default = current
[pull]
  rebase = true
[diff]
  word-diff = color
  indentHeuristic = true
  noprefix = true
[commit]
  gpgsign = true
  verbose = true
	; template = /Users/fidel/.gitmessage
[trailer "coop"]
  key = "Co-authored-by: "
  ifmissing = add
[init]
  defaultBranch = master
[diff "rspec"]
  xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario)[ \t].*)$"
[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = git-merge-structure-sql %A %O %B
